@use "../variables" as *;
.header {
  padding: 32px 0;

  &__container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__form {
    position: relative;
    max-width: 420px;
    width: 100%;
    height: 40px;
  }
  &__input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 8px 56px 8px 16px;
    border: none;

    &::placeholder {
      color: rgba($dark, .3);
    }
  }

  &__search-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-orange;
    border-radius: 32px;

  }

  &__logo {
    justify-self: center;
  }

  &__cat-button {
    display: flex;
    align-items: end;
    justify-content: center;
    justify-self: end;
    width: 28px;
    height: 28px;
    background: url("/img/cart.svg") no-repeat center/contain;
    font-size: 14px;
    line-height: 1.3;
    color: $orange;
    padding-bottom: 1px;
  }
}
